/* Dashboard Styles */
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header */
.header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
    display: none;
    /* Hidden by default on larger screens */
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
    }
}

/* Hamburger Icon */
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* Sidebar */
.sidebar {
    background-color: #1e1e1e;
    color: #b0bec5;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    transform: translateX(0);
}

@media screen and (max-width: 768px) {
    .sidebar{
        transform: translateX(-100%);
    }
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 1rem;
}

.sidebar ul li a {
    color: #b0bec5;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    color: #fff;
}
.sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar ul li{
    cursor: pointer;
    padding: 10px;
}
.sidebar h2{
    padding: 1rem;
}
.submenu{
    display: none;
    padding-left: 20px;
}
@media screen and (max-width: 768px) {
    .sidebar h2{
        border-bottom: 1px solid #b0bec5;
    }
}


/* Main Content */
.content {
    margin-left: 250px; /* Geser untuk sidebar di layar besar */

    padding: 1rem;
    flex: 1;
    overflow-y: auto;
    position: relative;
    z-index: 999;
    display: none;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}
.overlay.active {
    display: block;
}

/* Footer */
.footer {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Button Container */
.button-container {
    margin-bottom: 20px;
    display: flex;
    /* Mengaktifkan flexbox */
    justify-content: flex-end;
    /* Rata kanan */
    gap: 10px;
}
.button-container button {
    display: inline-block;
    /* Membuat tombol bersebelahan */
    margin: 0 5px;
}

/* Table Container */
.table-container {
    overflow-x: auto; /* Bisa discroll kanan-kiri */
    width: 100%; /* Full width dari Content */
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    /* Remove spacing between cells */
}
@media screen and (max-width: 768px) {
    .data-table {
        width: max-content; /* Supaya tabel bisa lebih lebar dari container */
        min-width: 100%; /* Tetap minimal sebesar container */
    }
}

.data-table th,
.data-table td {
    padding: 8px;
    border: 1px solid #333;
    text-align: left;
    vertical-align: top;
}

.data-table td input[type="text"] {
    width: 100%;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    overflow-x: auto;
    padding: 5px;
    margin-bottom: 5px;
}

.data-table th {
    background-color: #263238;
}

/* Reset Style for Dropdown*/
.data-table .action-td{
    padding: 0;
}
.data-table .action-td button{
    margin: 0;
}
 /* Action in Table */
.action-container {
    position: relative;
    display: inline-block;
    background: #007bff;
    border-radius: 4px;
    border: 1px solid #0056b3;
    text-decoration: none;
    margin: 0.25rem;
}

.btn-action {
    font-size: 14px;
    border: 1px solid #007bff;
    background: #007bff;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    transition: background 0.3 ease;
}
.btn-action:hover{
    background: #0056b3;
}

.dropdown-menu {
    display: none;
    text-align: center;
    width: 100%;
    background: #007bff;
}
.dropdown-menu .dropdown-menus{
    width: 100%;
    height: 100%;
    padding: 0.75rem 1.5rem;
    border: 1px solid #007bff;
    transition: background 0.3 ease;
}
.dropdown-menu .dropdown-menus:hover {
    background: #0056b3;
}
.dropdown-item {
    font-size: 14px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/* Statistic Container */
.statistic-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #1e1e1e;
    text-align: center;
}
/* Statistic Change */
.stchange {
    font-size: 0.6em;
    vertical-align: super;
}

/* Add Form Styles */
#add-form-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #1e1e1e;
}

.form-group {
    margin-bottom: 10px;
}
.form-group label {
    color: #fff;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
        /* Show on smaller screens */
    }

/*    .sidebar {
        /*transform: translateX(-100%);  Initially hidden */
/*    }

    .sidebar.active {
        transform: translateX(0);
        /* Slide in when active */
/*    }*/
    .content {
        margin-left: 0;
    }
}